<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.goyrooms.dexpad">

    <!-- FORCE MIN SDK FOR TYRON -->
    <uses-sdk
        android:minSdkVersion="26"
        android:targetSdkVersion="33" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="rikka.shizuku.permission.SHIZUKU"/>

    <application
        android:allowBackup="true"
        android:label="DexPad"
        android:theme="@style/Theme.DexPad">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
            android:name=".MouseService"
            android:exported="false"/>

        <provider
            android:name="rikka.shizuku.ShizukuProvider"
            android:authorities="${applicationId}.shizuku"
            android:exported="false"
            android:multiprocess="false"/>
    </application>

</manifest>